*{
	margin: 0;
	padding: 0; 
}
a{
	text-decoration: none;
	color: #474647;
}
.header{
	width: 100%;
}
.text{
	margin-top: 1%;
	margin-left: 6%;
	margin-right: 6%;
}
li{
	font-size: 2vw;
}

ol a{
	margin-top: 1%;
	font-size: 1.8vw;

}
.too li{margin-left: 5%;
color:#474647;
font-size: 1.8vw; }
/*img*/
.zag{	

	font-size: 5vw;
	text-align: center;
}
.one{
	width: 30%;
}
.dimg{
	text-align: center;
}
/**/

.end{
	margin-left: 5%;
	font-size: 2vw;
}

.footer{
	background-color: #444444;
	margin: 0;
	padding: 0;
	height: 60px;
	margin-top: 0.5%;
}
.email{
	color: white;
}
.email:hover{
	color: #7b7c7e;
	text-decoration: underline;
}
.prav{
	color: #979899;
}

.cont{
	text-align: center;

}
